
<ion-content>
  <ion-buttons slot="fixed" vertical="top" horizontal="start">
    <ion-back-button defaultHref="/landing" class="text-4xl"></ion-back-button>
  </ion-buttons>
  <div class="mt-16 flex-col justify-center align-middle">
    <h1 class="text-3xl text-center font-poppins font-bold">
      Restablecer contraseña
    </h1>
    <p class="text-center text-wrap font-sans font-normal mt-5 text-xl">
      Te enviaremos un correo electrónico con un enlace para restablecer tu
      contraseña.
    </p>
    <form action="" class="space-y-8 mt-14 flex-col justify-center">
      <div class="ml-5">
        <ion-item class="rounded-xl w-80 left-5" color="medium">
          <ion-input
            type="email"
            placeholder="Correo electrónico"
            class="text-xl font-poppins font-medium"
          >
          </ion-input>
        </ion-item>
      </div>
      <div class="flex justify-center mt-12">
        <ion-text [routerLink]="['/home']">
          <p
            class="text-center text-xl font-poppins font-bold bg-indigo-500 p-2 rounded-xl w-64"
          >
            Enviar
          </p>
        </ion-text>
      </div>
    </form>
  </div>
</ion-content>
