.tabs {
    background-color: #271C3A;
    ion-tab-button {
        --color: #271C3A;
        --background: #271C3A;
        --background-focused: #271C3A;
        --background-hover: #271C3A;
    }
}