
<ion-tabs class="custom-tabs">
  <ion-tab-bar slot="bottom" class="tabs inset-x-0 -top-3 h-20 relative">
    <ion-tab-button tab="tab1-home">
      <ion-img src="assets/retirement-home.png"  class="w-11 h-11"/>
    </ion-tab-button>
    <ion-tab-button tab="tab2-task">
      <ion-img src="assets/lista-de-quehaceres.png"  class="w-11 h-11"/>
    </ion-tab-button>
    <ion-tab-button tab="tab3-add">
      <ion-img src="assets/add.png"  class="w-11 h-11"/>
    </ion-tab-button>
    <ion-tab-button tab="tab4-chat">
      <ion-img src="assets/chat.png"  class="w-11 h-11"/>
    </ion-tab-button>
    <ion-tab-button tab="tab5-info">
      <ion-img src="assets/menu.png"  class="w-11 h-11"/>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

