.task-bg {
    background-image: linear-gradient(135deg, rgb(233, 163, 86) 0%, rgb(212, 108, 34) 100%);
    color: rgb(61, 27, 13);
}
.bg-progress {
    background-color: #725d36;
}
.gradi{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

